html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(235, 183, 71);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper {
  background: white;
  height: 50vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joke {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.getJoke {
  background: rgb(235, 183, 71);
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  cursor: pointer;
}
