html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  padding: 2rem;
}
.slides {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  background: rgb(34, 148, 78);
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  border: 4px solid white;
  transition: all 0.25s;
  transform: translateX(-200%);
}
.slide.next + .slide {
  transform: translateX(200%);
}
.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}
.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
button {
  background: rgb(34, 148, 78);
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
