html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul, li {
  list-style: none;
}
.random-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
.user-flex-wrapper {
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.user-flex-wrapper img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.user-flex-wrapper p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}