html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  padding: 1rem;
}
.password-form {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
}
.user,
.password-field {
  width: 350px;
  margin-top: 1rem;
}
.user input,
.password-field input {
  border: 2px solid grey;
  border-radius: 4px;
  font-family: inherit;
  outline: none;
  width: 80%;
  padding: .4rem;
  margin: .5rem 0;
}
.user input:focus,
.password-field input:focus {
  border: 2px solid rgb(76, 76, 250);
  border-radius: 4px;
}
.message {
  display: block;
  font-size: 10px;
  visibility: hidden;
}
.reveal-password-button {
  background: none;
  border: none;
  border: 2px solid grey;
  border-radius: 4px;
  padding: .45rem;
  outline: none;
  cursor: pointer;
}