$headings: 'Lora', serif;
$regularFont: 'Muli', sans-serif;
$yellow: #f5af3c;
$offwhite: #f7f7f7;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: $headings;
  font-size: 3rem;
  padding-bottom: 2rem;
}
body {
  font-family: $regularFont;
}
main {
  background: $yellow;
  height: 100vh;
  display: flex;
  padding: 1rem;
}
.main-img-section {
  background: url(./assets/imgs/signup.jpg) center no-repeat;
  background-size: cover;
  width: 60%;
  height: 95vh;
}
.main-sign-up {
  background: $offwhite;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 95vh;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;

  .signup-heading {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .custom-hr {
    border: none;
    border: 1px solid $yellow;
    margin-bottom: 1rem;
  }
}
.main-form {
  display: flex;
  flex-direction: column;

  .inner-form-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .inner-form-wrapper.error .error-message {
    visibility: visible;
  }
  .inner-form-wrapper.error input {
    border: 2px solid rgb(224, 38, 38);
  }
  .error-message {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    color: rgb(224, 38, 38);
    font-size: 0.8rem;
    visibility: hidden;
  }
  .password-wrapper {
    input {
      width: 90%;
    }
    #password,
    #password-check {
      margin-top: 0.5rem;
    }
    .reveal {
      background: none;
      border: none;
      outline: none;
      border: 2px solid lightgrey;
      border-radius: 4px;
      padding: 0.5rem;
      cursor: pointer;
    }
    .reveal:focus {
      border: 2px solid $yellow;
    }
  }
  label {
    padding: 0.5rem 0;
  }
  input {
    padding: 0.5rem;
    font-family: inherit;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 1.2rem;
  }
  input:focus {
    outline: none;
    border: 2px solid $yellow;
  }
  .form-submit-button {
    border: none;
    background: none;
    border: 2px solid lightgrey;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: $headings;
    font-size: 1.2rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
  }
  .form-submit-button:hover {
    background: $yellow;
    border: 2px solid $yellow;
  }
}
.main-login {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;

  p {
    font-size: 0.9rem;
  }
  a {
    color: black;
  }
  a:hover {
    color: $yellow;
  }
}
